<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">

    <title>Hotel Paraíso</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="./index.html">Hotel</a>
        </div>

        <nav class="nav-header">
            <ul>
                <li>
                    <a href="./index.html">Home</a>
                </li>
                <li>
                    <a href="./about.html">Sobre</a>
                </li>
                <li>
                    <a href="./contact.html">Contato</a>
                </li>
            </ul>
        </nav>

        <div class="reserve">
            <h4>Recife</h4>
            <a href="#">Grupo</a>
        </div>


    </header>

    <section>
        <div class="section-content">
            <div class="hotel-intro">
                <h2>Grupo</h2>
                <p>Matrícula - 01336567</p>
                <p>Lucas Henrique Rocha Vieira</p>
            </div>

            <picture class="img-hotel">
                <img src="../img/hotel-primary.jpg" alt="hotel" >
            </picture>
        </div>
    </section>

    <footer>
        <p>Todos direitos reservados - Hotel Paraíso 2023</p>
    </footer>
</body>
</html>